*{
  margin:0 auto;
  padding:0;
  box-sizing:border-box;
}

/* ----- MAIN STYLES ----- */
header{
  display:none;
}

main{
  height:100vh;
  display:flex;
}

/* ----- LOGIN ----- */
#logIn{
  display: block;
	position:absolute;
	top:35%;
	left:30%;
	width:40%;
	flex-direction: column;
	background-color:#F1E1A5;
	border-radius: 20px;
	border: 5px solid #663931;
	box-shadow: 10px 5px 5px #557571;
	padding:20px;
  color: #f09999;
	font-size: x-large;
}

#title{
	font-family:'Anton',sans-serif;
	text-align:center;
	color:#f09999;
}
	#rememberTitle{
		font-family:'Anton',sans-serif;
		margin-left:3%;
		height:20%;
		font-weight:100;
		margin-top:auto;
		color:#f09999;
	}

#username{
	width: 80%;
	justify-content: end;
	margin-top: 5px;
	margin-left: 10%;
	height:50px;
	border-radius: 20px;
	font-family:'Anton',sans-serif;
	padding-left:10px;
	box-sizing:border-box;
	background-color:#C3E5AE;
	color: #f09999;
}
	::placeholder{
		font-family: 'Anton', sans-serif;
		color: #f09999;
		padding-left: 5px;
		box-sizing: border-box;
	}

.button{
	width: 30%;
	height:50px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	font-family: 'Anton', sans-serif;
	font-size: large;
	color: #f09999;
	background-color: #C3E5AE;
}

#loginBttn {
	display:flex;
	width:100%;
}

/* ----- GAME ----- */
.game{
  position:relative;
  width:80vw;
  padding:20px;
  border:2px solid black;
}

.button-explode{
  display: none;
  position:absolute;
  min-width:20%;
  height:20%;
  top:40%;
  left:40%;
}

.red{
  background-color:brown;
}

.green{
  background-color:green;
  display:none;
}

.blue{
  background-color:blue;
  display:none;
}

.purple{
  background-color:purple;
  display:none;
}

.orange{
  background-color:orange;
  display:none;
}

.yellow{
  background-color:yellow;
  display:none;
}

/* ----- MENU ----- */
.menu{
  width:20vw;
  padding:20px;
  border:2px solid black;
}
#scoreTitle{
  color: #f09999;
  height: 50px;
  font-family: 'Anton', sans-serif;
  text-align: center;
}

.list{
  color: #f09999;
  font-family: 'Anton', sans-serif;
  display: flex;
  flex-direction: column;
}


p{
  margin-left: 10px;
  padding-top: 6px;
  box-sizing: border-box;
}